<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">Juguetes</h5>
        <div>
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#search-toy-modal">Buscar Juguete</button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-toy-modal">Crear Juguete</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio Unitario</th>
                        <th>Stock</th>
                        <th>Categoría</th>
                        <th>...</th>
                    </tr>
                </thead>
                <tbody>
                    {{#toys}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{price}}</td>
                        <td>{{quantity}}</td>
                        <td data-category-id="{{category_id}}">{{category_description}}</td>
                        <td>
                            <a class="btn btn-secondary" href="/inventory?toy_id={{id}}">Ver Inventario</a>
                        </td>
                    </tr>
                    {{/toys}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="search-toy-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Juguete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="toy-form">
                    <div class="mb-3">
                        <label for="search_id" class="form-label">ID</label>
                        <input type="number" class="form-control" name="search_id" placeholder="123" inputmode="numeric" min="1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="goToToy()">
                    Buscar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="create-toy-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Juguete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="toy-form">
                    <div class="mb-3">
                        <label for="id" class="form-label">ID</label>
                        <input type="number" class="form-control" name="id" value="{{next_id}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="name" placeholder="Mi Asombroso Juguete" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Descripción</label>
                        <textarea class="form-control" name="description" rows="2" placeholder="Añadir detalles del juguete..."></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Precio</label>
                        <input type="number" class="form-control" name="price" value="0" steps="0.01" min="0" required>
                    </div>
                    <div class="mb-3">
                        <label for="category_id" class="form-label">Category</label>
                        <select class="form-select" name="category_id">
                            <option value="0">Ninguna</option>
                            {{#categories}}
                                <option value="{{id}}">{{name}}</option>
                            {{/categories}}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary"
                        hx-post="/toys"
                        hx-include="#toy-form"
                        hx-swap="none"
                        hx-on::after-request="location.reload()">
                    <i class="bi bi-plus-circle"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>
<script>
function goToToy() {
    const id = $("input[name='search_id']").val()
    window.location.href = `/inventory?toy_id=${id}`
}
</script>